//
// Sorting
// --------------------------------------------------

.sorting {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  line-height: 16px;

  &__links {
    display: inline-block;
    margin-right: 15px;

    > span,
    > a {
      display: inline-block;
      margin-right: 10px;

      &.pull-right {
        margin-right: 0;
        margin-left: 10px;
        color: fade(@text-color, 50%)
      }
    }

    > a {
      text-decoration: none;

      &,
      &:focus,
      &:active {
        border-bottom: 1px dotted @link-color;
      }

      &:hover {
        border-bottom-color: @link-hover-color;
      }

      &.active {

        &,
        &:focus,
        &:active,
        &:hover {
          color: @brand-danger;
          border-bottom-color: transparent;
        }
      }
    }
  }

  &__head {
    color: fade(@text-color, 50%);
    display: inline-block;
    margin-right: 15px;
  }

  &__num-found {
    float: right;
  }

  @media (max-width: @grid-float-breakpoint) {

    &__links {
      margin-bottom: 10px;
    }

    &__head {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__num-found {
      float: none;
      display: block;
    }
  }
}

//
// Categories
// --------------------------------------------------

.ia-categories {

  @media (max-width: @grid-float-breakpoint) {
    .row {
      [class*="col-md"] + [class*="col-md"] {
        margin-top: 0px;
      }
    }
  }
}

.ia-cat {
  color: fade(@text-color, 40%);
  margin-bottom: 3px;

  a,
  a:focus,
  a:active {
    color: @text-color;
    text-decoration: none;
  }

  a:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }

  &__sub {
    margin-left: 15px;
    font-size: 12px;
    margin-bottom: 15px;
    color: fade(@text-color, 50%);
  }

  @media (max-width: @grid-float-breakpoint) {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

.ia-models {
  margin-bottom: @vr !important;
}



//
// IA items
// --------------------------------------------------

.ia-item {
  .clearfix();
  position: relative;

  + .ia-item {
    margin-top: @gap+@gap;
  }

  a:not(.btn),
  a:not(.btn):focus {
    color: @item-link-color;

    &:hover {
      color: @item-link-color-hover;
    }
  }

  &--border {
    border: 1px solid @border-color;
    padding: @gap;
  }

  &--border-bottom {
    border-bottom: 1px solid @border-color;
    padding-bottom: @gap;

    & + & {
      margin-top: @gap;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &--featured {
    border: 1px solid @brand-info;
    padding: @gap;
    background: fade(@brand-info, 10%);
  }

  &--sponsored {
    border: 1px solid @brand-warning;
    padding: @gap;
    background: fade(@brand-warning, 10%);
  }

  &--inactive,
  &--hidden {
    background: #f5f5f5;
  }

  &__image {
    position: relative;
    text-align: center;
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    img {
      .img-responsive();
      margin: 0 auto;
    }

    @media (min-width: @screen-phone) {
      text-align: left;
      float: left;
      margin-right: @gap;
      max-width: 100px;  
    }

    @media (min-width: @grid-float-breakpoint) {
      max-width: 150px;
    }

    &__badge {
      color: #fff;
      font-size: 12px;
      display: block;
      background: #222;
      padding: 3px 6px;
      position: absolute;
      left: 10px;
      bottom: 10px;
    }
  }

  &__content {
    overflow: hidden;

    > *:last-child {
      margin-bottom: 0;
    }

    &__info {
      float: right;
      margin-left: @gap;
      color: fade(@text-color, 50%);
    }
  }

  &__actions {
    float: right;

    a {
      margin-left: @gap;
    }

    a:not(.btn),
    a:not(.btn):focus {
      color: @text-color;

      &:hover {
        color: lighten(@text-color, 10%);
      }
    }
  }

  &__title {
    .font-normalize(18px, 0 0 @gap);
    font-weight: normal;
  }

  &__additional {
    .clearfix();

    p {
      float: left;
      color: fade(@text-color, 50%);
      margin: 0 @gap @gap 0;

      a:not(.btn) {
        color: fade(@text-color, 50%);

        &:hover {
          color: fade(@text-color, 70%);
        }
      }

      @media (min-width: @grid-float-breakpoint) {
        margin: 0 @gap+@gap @gap 0;
      }
    }

    &__icon {
      display: inline-block;
      border: 2px solid fade(@text-color, 30%);
      width: 34px;
      height: 34px;
      line-height: 30px;
      font-size: 18px;
      text-align: center;
      border-radius: 50%;

      &:hover {
        border-color: fade(@text-color, 70%);
      }
    }
  }

  &__table {

    >thead>tr>th, 
    >tbody>tr>th, 
    >tfoot>tr>th, 
    >thead>tr>td, 
    >tbody>tr>td, 
    >tfoot>tr>td {
      border-top: none;
      padding: 0 8px 8px 0;

      &:first-child {
        color: fade(@text-color, 50%);
        width: 18%;
      }
    }
  }
}

.ia-item.has-panel {
  .ia-item__image {
    margin-bottom: @gap;
  }
}

.ia-item__panel {
  clear: both;
  .clearfix();
  background: #f5f5f5;
  padding: 5px 10px;
  margin: @gap 0 0;
  font-size: 12px;

  &__item {
    display: inline-block;
    margin-right: @gap;
    color: fade(@text-color, 70%);

    &.pull-right {
      margin-right: 0;
      margin-left: @gap;
    }
  }
}